<% content_for :title, 'Givespend | #{@user.first_name}\'s profile' %>

<h4><%= @user.first_name %> <%= @user.last_name %></h4>
<br> <br>
<div class="reviews">
  <% @user.reviews_received.each do |review| %>
    <%= review.item.try(:name) %><br>
    Rating: <%= review.rating %><br>
    <i><%= review.user_who_gave_review.try(:first_name) %> said:</i> <br>
    <%= review.description %>
  <% end %>
</div>