<div class="grid">
  <div class="paging">
    
    <span id="left"><i class="icon-angle-left"></i>LAST</span>
    <span id="sort"><i class="icon-sort sort"></i>SORT</span>
    <span id="right">MORE <i class="icon-angle-right"></i></span>
    
  </div>
  <% @items.each do |item| %>
    <div class="item-card <%= color_class %>">
      <div class="img-container">
        <img src="<%= item.image.content.url %>" />
      </div>
      <div class="item-title"><%= item.name.upcase %> | $<%= cents_to_dollars(item.price) %></div>
      <% link_to "Add to cart", add_carts_path(item_id: item.id), method: :post, remote: true %>
      <div class="supports">
        <div>SUPPORTS <%= item.nonprofit.name.upcase %></div>
      </div>
    </div>
  <% end %>

  <ul id="arranged-list"></ul>
</div>
<script type="text/javascript">
  new ItemGrid
</script>