<div class="row navbar">

  <div class="logo">
    <%= link_to image_tag('givespend-banner.png'), root_path %>
  </div>

  <div class="links">
    <% if current_user %>
      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %> &nbsp;
      <%= link_to "CHECKOUT", cart_path(current_cart) %> &nbsp;
    <% else %>
      <%= link_to "SIGN IN", new_user_session_path %> &nbsp;
    <% end %>
    <%= link_to "LIST", new_item_path %> &nbsp;
    <div id="nav">
      <li>
        CATEGORIES <i class="icon-chevron-down"></i>
        <ul>
          <% @categories.each do |category| %>
            <li><%= link_to category.name.upcase, category %></li>
          <% end %>
        </ul>
      </li>
    </div>
  </div>


</div>